{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Edit Contact</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Update</button>
    <a href="{{ path('contact_index') }}" class="btn btn-secondary mt-3">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
