{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-4">New Contact</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Save</button>
    <a href="{{ path('contact_index') }}"
       class="btn btn-secondary mt-3">
        Back to list
    </a>
    {{ form_end(form) }}
{% endblock %}
