{% extends 'base.html.twig' %}

{% block title %}Contact Manager{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Contact Manager</h1>
    <p>Welcome to the Contact Manager</p>
    <p><a href="{{ path('contact_index') }}" class="btn btn-secondary mt-3">Contacts list</a></p>
{% endblock %}
