{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
    <p>SB Admin 2 is working correctly 🎉</p>
{% endblock %}
