{% extends 'base.html.twig' %}

{% block title %}Contact Manager{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Contact Manager</h1>
    <p>Welcome to the Contact Manager</p>
{% endblock %}
